/* div {
    color: red;
} */

.green-emphasis {
    color: #99CC00;
    font-weight: bolder;
}

.list {
    line-height: 1.8 !important;
    padding-left: 2em !important;
}

img {
    margin-bottom: 50px !important;
}