/* Front page */

div.main-container .imagebg {
    padding: 0;
}

#pro-logo {
    margin: 60px;
}

#pro-enter {
background-color: #739900; 
border: none;
}

/* Presentation layout */

.slides section {
    display: flex !important;
    flex-direction: column;
    height: 640px !important;
    /* height: 70% !important; */
    /* padding-bottom: 0px !important; */
    /* max-height: 100%; */
    /* margin-bottom: 100px !important; */
    /* padding-bottom: 100px !important; */
    /* align-items: center; */
    /* justify-content: flex-start !important; */
}

/* .flx {
    flex: 0 0 auto;
} */

.flex-center-y {
    /* align-items: center !important; */
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
}

.content {
    display: flex !important;
    flex: 1;
    /* align-items: center; */
}

/* .content * {
    flex-shrign
} */

.content-05 { flex: 0.5; }
.content-10 { flex: 1; }
.content-11 { flex: 1.1; }
.content-12 { flex: 1.2; }
.content-13 { flex: 1.3; }
.content-14 { flex: 1.4; }
.content-15 { flex: 1.5; }
.content-16 { flex: 1.6; }
.content-17 { flex: 1.7; }
.content-18 { flex: 1.8; }
.content-19 { flex: 1.9; }
.content-20 { flex: 2.0; }
.content-30 { flex: 3.0; }

div.content > div {
    margin-left:10px;
    margin-right: 10px
}

div.content > div:first-child {
    margin-left:0px;
}

div.content > div:last-child {
    margin-left:0px;
}

/* .flex-footer {
    flex: 0 1 content;
} */


/* Presentation overrides */

.slides ul {
    /* line-height: 1.8 !important; */
    padding: 0.2em 0 0.4em 0em;
    /* font-size: 90% !important; */
}

.slides li {
    margin-bottom: 0.6em;
    font-size: 80% !important;
}

.slides h1, .slides h2, .slides h3, .slides h4 {
    font-weight: 100 !important;
    margin: 30px 0 30px 0 !important;
}

/* section > h1, section > h2, section > h3, section > h4, section > h5 {
    margin: 0 !important;
} */

/* .slides .north-east, .slides .north-west {
    margin-top: 20px;
} */

.north-west, .north, .north-east {
    width: 100%;
}

/* Main Presentation */

.green-emphasis {
    color: #99CC00;
    font-weight: bolder;
}

.stretch {
    /* Used for videos */
    height: 100% !important;
    width: 100% !important;
}

